h1{
  color:#C36909;
  font-size: 30px;
}

h2{
  color: #FFFFFF;
}

body{
  background: linear-gradient(#DADADA, #268EB2);
  font-family: 'helvetica sans-serif';
}

html{
  height: 100%;
  font-size: 22px;
}

.button{
  border-radius: 8px;
  background-color: #D4DDE8;
  font-size: 18px;
}

input{
  font-size: 16px;
}

.separator{
  padding: 25px 0px;
}

#asanaApiKey, #mongolabApiKey{
  width: 300px;
}
